<!-- begin #page-container -->
<div id="page-container" class="page-sidebar-fixed page-header-fixed">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <div class="main">
            <app-sidebar></app-sidebar>
            <!-- begin section -->
            <section class="content">
                <div class="container carousel-container">
                    <div class="message">
                        <p class="msg-header">Tutorial</p>
                        <div class="product-dropdown jumbotron">
                            <div class="row product-row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="product-type">Product Type</label>
                                    <select name="product-type" id="product-type" class="form-control">
                                        <option value="">Select Product</option>
                                        <option value="">Flinn 360Scienc</option>
                                        <option value="">Flinn Prep</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <!-- <label for="category-type">Category Type</label>
                                    <select name="category-type" id="category-type" class="form-control">
                                        <option value="">Select Category</option>
                                        <option value="">Atomic Structure</option>
                                    </select> -->
                                </div>
                            </div>
                        </div>
                        <div class="tutorial-content jumbotron">
                            <span>Get Started:</span>
                            <ul>
                                <li>
                                    <a href="Javascript:void(0)">Activate Licence.pdf</a>
                                </li>
                            </ul>
                            <span>Customize Labs:</span>
                            <ul>
                                <li><a href="javascript:void(0)">Create Costomize Labs.pdf</a></li>
                                <li><a href="javascript:void(0)">Use the Editing Tools to Customize Labs.pdf</a></li>
                            </ul>
                            <span>Set Up Classrooms:</span>
                            <ul>
                                <li><a href="javascript:void(0)">Create Classrooms.pdf</a></li>
                                <li><a href="javascript:void(0)">Manage Classrooms.pdf</a></li>
                                <li><a href="javascript:void(0)">Assign Customized Versions of the Lab.pdf</a></li>
                                <li><a href="javascript:void(0)">Set Up Students.pdf</a></li>
                                <li><a href="javascript:void(0)">Move Student to a New Classroom.pdf</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
        </div>
    </div>
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
            class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- begin container-fluid -->