<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #header -->
<div id="header" class="header navbar navbar-default navbar-fixed-top">
	<!-- begin container -->
	<div class="container header-container" [ngClass]="isHeader ? '' : 'full-width'">
		<!-- begin mobile sidebar expand / collapse button -->
		<div class="navbar-header">
			<a href="index.html" class="navbar-brand"><span class="navbar-logo"></span>
				<img src="./assets/Images/home-images/pravo.PNG" alt="">
			</a>
			<button type="button" class="navbar-toggle" data-click="sidebar-toggled" *ngIf="!isHeader">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- end mobile sidebar expand / collapse button -->

		<!-- begin header navigation right -->
		<ul class="nav navbar-nav navbar-right">
			<!-- <li class="search-li">
				<form class="navbar-form full-width">
					<div class="form-group">
						<input type="text" class="form-control search-input" placeholder="Enter keyword" />
						<i class="fa fa-search search-icon"></i>
					</div>
				</form>
			</li> -->
			<!-- <li>
				<a href="javascript:;" class="dropdown-toggle f-s-14">
					<i class="fa fa fa-globe"></i>
				</a>
			</li> -->
			<!-- class - navbar-user -->
			<!-- <li class="dropdown ">
				<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
					<img src="./assets/Images/home-images/canada_flag_18X18.png" alt="" />
					<span class="hidden-xs"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu animated fadeInLeft">
					<li class="arrow"></li>
					<li><a href="javascript:;">Edit Profile</a></li>
					<li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
					<li><a href="javascript:;">Calendar</a></li>
					<li><a href="javascript:;">Setting</a></li>
					<li class="divider"></li>
					<li><a href="javascript:;">Log Out</a></li>
				</ul>
			</li> -->
			<!-- <li class="divider"></li>
			<li>
				<a href="javascript:;" class="dropdown-toggle f-s-14">
					<i class="fa fa-life-ring"></i>
				</a>
			</li>
			<li>
				<a href="javascript:;" class="dropdown-toggle f-s-14">
					<i class="fa fa-comments-o"></i>
				</a>
			</li> -->
			<!-- <li class="dropdown">

				<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
					<i class="fa fa-bell-o"></i>
					<span class="label">5</span>
				</a>
				<ul class="dropdown-menu media-list pull-right animated fadeInDown">
					<li class="dropdown-header">Notifications (5)</li>
					<li class="media">
						<a href="javascript:;">
							<div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
							<div class="media-body">
								<h6 class="media-heading">Server Error Reports</h6>
								<div class="text-muted f-s-11">3 minutes ago</div>
							</div>
						</a>
					</li>
					<li class="media">
						<a href="javascript:;">
							<div class="media-left"><img src="assets/img/user-1.jpg" class="media-object" alt="" />
							</div>
							<div class="media-body">
								<h6 class="media-heading">John Smith</h6>
								<p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
								<div class="text-muted f-s-11">25 minutes ago</div>
							</div>
						</a>
					</li>
					<li class="media">
						<a href="javascript:;">
							<div class="media-left"><img src="assets/img/user-2.jpg" class="media-object" alt="" />
							</div>
							<div class="media-body">
								<h6 class="media-heading">Olivia</h6>
								<p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
								<div class="text-muted f-s-11">35 minutes ago</div>
							</div>
						</a>
					</li>
					<li class="media">
						<a href="javascript:;">
							<div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
							<div class="media-body">
								<h6 class="media-heading"> New User Registered</h6>
								<div class="text-muted f-s-11">1 hour ago</div>
							</div>
						</a>
					</li>
					<li class="media">
						<a href="javascript:;">
							<div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
							<div class="media-body">
								<h6 class="media-heading"> New Email From John</h6>
								<div class="text-muted f-s-11">2 hour ago</div>
							</div>
						</a>
					</li>
					<li class="dropdown-footer text-center">
						<a href="javascript:;">View more</a>
					</li>
				</ul>
			</li> -->
			<li class="login-links">
				<!-- <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button> -->
				<a *ngIf="isHeader"  id="popover" class="nav-links loginPopup" (click)="showLoginForm()"
					data-html="true">Login</a>
				<span *ngIf="isHeader">|</span>
				<a *ngIf="isHeader" href="/Account/RegisterNewuser" class="nav-links">Register</a>
				<a *ngIf="!isHeader" [routerLink]="['/Home']" href="javascript:void(0)" class="nav-links">Logout</a>
				
				<div id="loginPopup" *ngIf="isLoginForm">
					<div class="popover-window bottom in popover">
						<div class="arrow" style="left: 50%;"></div>
						<div class="popover-content">
							<form [formGroup]="loginForm" method="post">
								<div id="sign-in" tabindex="-1" role="dialog" aria-hidden="true">
									<div>
										<div>
											<div>
												<span *ngIf="Email.touched && Email.invalid" class="error">
													<span *ngIf="Email.errors.required">Email ID Required.</span>
													<span *ngIf="Email.errors.pattern">Invalid Email.</span>
												</span>
												<span *ngIf="Password.touched && Password.invalid" class="error">
													<span *ngIf="Password.errors.required">Password Required.</span>
													<span *ngIf="Password.errors.minlength">Password Required Atlead 8
														Digits.</span>
													<span *ngIf="Password.errors.maxlength">Password Should Not Be
														Grater Then 50 Digits.</span>
												</span>
												<div>
													<input class="form-control" data-val="true"
														data-val-required="Please enter the email associated with your account"
														id="email-address" name="Email" placeholder="Email" type="email"
														formControlName="Email">
												</div>
												<div>
													<input class="form-control" data-val="true"
														data-val-required="Please enter the password associated with your account"
														id="password" name="Password" placeholder="Password"
														type="password" formControlName="Password">
												</div>
											</div>
											<div class="log-btn">
												<a class="link-bold forgot-password" href="/Account/ResetPassword">Forgot Password?</a>
												<input type="submit" class="btn btn-darkgreen" value="Login" [routerLink]="['/Dashboard']" (click)="showmainpage()">
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<!-- end header navigation right -->
	</div>
	<!-- end container -->
</div>
<!-- end #header -->