<!-- begin #page-container -->
<div id="page-container" class="page-sidebar-fixed page-header-fixed">

    <!-- begin container-fluid -->
    <div class="container-fluid">
        <div class="main">
            <!-- begin #sidebar -->
            <app-sidebar></app-sidebar>
            <!-- end #sidebar -->
            <section class="content">
                <!-- begin section -->
                <div class="container home-slider carousel-container">
            
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner carousel_row index-carousel">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <a href="" target="_blank"><img
                                                src="./assets/Images/home-images/Pavo_Slider1.png" style="width: 100%;"></a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="item">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <a href="https://www.theedadvocate.org/" target="_blank"><img
                                                src="./assets/Images/home-images/SMS_banner1.png" style="width: 100%;"></a>
                                    </div>
                                </div>
                            </div> -->
            
            
            
                            <!-- <div class="item">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <a href="https://www.theedadvocate.org/" target="_blank"><img
                                                src="./assets/Images/home-images/SMS_banner1.png" style="width: 100%;"></a>
                                    </div>
                                </div>
                            </div> -->
            
                        </div>
            
                        <!--  Left and right controls -->
                        <div class="nav-btn-container">
                            <ol class="carousel-indicators navigation-btn">
                                <li data-target="#myCarousel" data-slide-to="0" class="active" style="border: 1px solid #607D8B;">
                                </li>
                                <li data-target="#myCarousel" data-slide-to="1" style="border: 1px solid #607D8B;"></li>
                                <li data-target="#myCarousel" data-slide-to="2" style="border: 1px solid #607D8B;"></li>
                            </ol>
                        </div> 
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
            
                    </div> 
                </div>
                <!-- end container -->
                <div class="row" id="contentPanel">

                </div>
                <div class="container carousel-container">
                    <div class="subsection container margin-top" >
                        <div class="smscards"></div>
                        <!-- <section class="margin-top">
                                <div class="second-section">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-12">
                                            <div class="right-text">
                                                <p><b>FLINN</b><i>Scinece Management System</i></p>
                                                <p class="normal-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
                                                    dignissimos adipisci, necessitatibus eaque error quod nihil maxime dolorum sint ullam
                                                    temporibus, iure totam dicta placeat praesentium quia consequatur explicabo corporis
                                                    quis, <br><br>a doloribus! Dignissimos eligendi, perferendis repudiandae temporibus
                                                    repellendus illo. Aperiam aspernatur adipisci illum alias quo labore. Corrupti, qui
                                                    quos.</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="left-image">
                                                <img src="./assets/Images/home-images/Flinn_sms_para1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section> -->
                            <section class="card-section sectionmargin  margin-top">
                                    <div class="row margin-bottom cardmargin">
                                        <div class="col-lg-6 col-md-6 col-sm-12 single-card">
                                            <div class="boxnew">
                                                    <div class="imgdiv">
                                                            <img src="./assets/Images/home-images/advancelearning.PNG">
                                                        </div>
                                                    
                                                    <p class="box-title">Advance Learning</p>
                                            </div>
                                        
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 single-card">
                                                <div class="boxnew">
                                                        <div class="imgdiv" style="padding-top: 33px">
                                                                <img src="./assets/Images/home-images/flinn.PNG">
                                                            </div>
                                                        
                                                        <p class="box-title">Flinn Safety</p>
                                                </div>
                                        </div>
                        
                                    </div>
                                    <div class="row margin-bottom cardmargin">
                                        <div class="col-lg-6 col-md-6 col-sm-12 single-card">
                                                <div class="boxnew">
                                                        <div class="imgdiv">
                                                                <img src="./assets/Images/home-images/digitaldissection.PNG">
                                                            </div>
                                                        
                                                        <p class="box-title">Digital Disecssion</p>
                                                </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 single-card">
                                                <div class="boxnew">
                                                        <div class="imgdiv">
                                                                <img src="./assets/Images/home-images/tradionalhandon.PNG">
                                                            </div>
                                                        
                                                        <p class="box-title">Traditional<br/> Hands-on Labs</p>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom cardmargin">
                                            <div class="col-lg-6 col-md-6 col-sm-12 single-card">
                                                    <div class="boxnew">
                                                        <div class="imgdiv">
                                                                <img src="./assets/Images/home-images/blendedhandsonlabs.PNG">
                                                        </div>
                                                            
                                                            <p class="box-title">Bended <br/>Hands-on Labs</p>
                                                    </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 single-card">
                                                    <div class="boxnew">
                                                        <div class="imgdiv">
                                                                <img src="./assets/Images/home-images/gettingnerdy.PNG">
                                                        </div>
                                                            
                                                            <p class="box-title">Getting Nerdy</p>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row margin-bottom cardmargin">
                                                <div class="col-lg-6 col-md-6 col-sm-12 single-card">
                                                        <div class="boxnew" >
                                                            <div class="imgdiv" style="padding-top: 50px">
                                                                    <img src="./assets/Images/home-images/pogil.PNG">
                                                            </div>
                                                            
                                                                <p class="box-title">POGIL</p>
                                                        </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 single-card">
                                                        <div class="boxnew">
                                                            <div class="imgdiv" style="padding-top: 33px">
                                                                    <img src="./assets/Images/home-images/stem.PNG">
                                                            </div>
                                                        
                                                                <p class="box-title">STEM</p>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="row margin-bottom cardmargin">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 single-card">
                                                            <div class="boxnew">
                                                                <div class="imgdiv"> 
                                                                        <img src="./assets/Images/home-images/flinnscientific.PNG">
                                                                </div>
                                                            
                                                                    <p class="box-title">Flinn Scientific</p>
                                                            </div>
                                                    </div>
                                                
                                                </div>
                                </section>
                </div>
                </div>
                <div class="container carousel-container">
                    <section class="subject jumbotron">
                        <div class="subject-heading">
                            <p>Explore all our course and lab solutions by subject area</p>
                        </div>
                        <div class="row subject-row">
                            <div class="col-lg-3 col-md-3 col-md-sm-12 sub-col">
                                <div class="subject-img">
                                    <a href="javascript:void(0)">
                                        <img src="./assets/Images/Dashboard/Subject-Img/course_biology_btn.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-md-sm-12 sub-col">
                                <div class="subject-img">
                                    <a href="javascript:void(0)">
                                        <img src="./assets/Images/Dashboard/Subject-Img/course_chemistry_btn.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-md-sm-12 sub-col">
                                <div class="subject-img">
                                    <a href="javascript:void(0)">
                                        <img src="./assets/Images/Dashboard/Subject-Img/course_environmental_btn.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-md-sm-12 sub-col">
                                <div class="subject-img">
                                    <a href="javascript:void(0)">
                                        <img src="./assets/Images/Dashboard/Subject-Img/course_physics_btn.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                
            </section>

        </div>
    </div>


    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
            class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->