<!-- begin #page-container -->
<div id="page-container" class="page-sidebar-fixed page-header-fixed">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <div class="main">
                <app-sidebar></app-sidebar>
                <!-- begin section -->
                <section class="content">
                    <div class="container carousel-container">
                        <div class="message">
                            
                        </div>
                    </div>
                </section>
                <!-- end section -->
            </div>
        </div>
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
                class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- begin container-fluid -->