<!-- begin #page-container -->
<div id="page-container" class="page-sidebar-fixed page-header-fixed">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <div class="main">
            <app-sidebar></app-sidebar>
            <!-- begin section -->
            <section class="content">
                <div class="container home-slider carousel-container">
                    <span class="catalog">Course Catalog</span>
                    <div class="product-dropdown jumbotron">
                        <div class="row product-row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="product-type">Product Type</label>
                                <select name="product-type" id="product-type" class="form-control">
                                    <option value="">Select Product</option>
                                    <option value="">Flinn 360Scienc</option>
                                    <option value="">Flinn Prep</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="category-type">Category Type</label>
                                <select name="category-type" id="category-type" class="form-control">
                                    <option value="">Select Category</option>
                                    <option value="">Atomic Structure</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="cards-area jumbotron">
                        <div class="row cards-row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="flip-card mCard0">
                                    <div class="flip-card-inner inner0">
                                        <div class="card-front">
                                            <div class="main-cards"><img src="./assets/Images/Come Scale Away.jpg"
                                                    alt="Alternate Text"></div>
                                            <div class="text-cards">
                                                <p class="text-cards-p">Aerial Ladder Engine—Unit from Fighting Fire
                                                    with STEM
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-back">
                                            <p class="card-back-p">Aerial Ladder Engine (AP9984)
                                                In this unit from the award-winning IMSA Fusion STEM program, students
                                                are
                                                challenged to
                                                design and build the smallest fire engine possible that will support the
                                                longest
                                                aerial ladder
                                                within the design criteria and constraints. For details on the complete
                                                Fighting
                                                Fire with STEM
                                                course from which Aerial Ladder Engine was excerpted, go to
                                                flinnsci.com. Grades
                                                4-5</p>
                                            <div class="bottom-bred-crum">
                                                <div class="bottom-btns">
                                                    <div class="bred-curm">
                                                        <li><a class="Syllabus"
                                                                href="https://drive.google.com/open?id=1VeX-hK_PhozriARt0So1kXn79IsMXWN2"
                                                                target="_blank">Syllabus</a></li>
                                                        <li><a class="Standards"
                                                                href="https://drive.google.com/open?id=1U2Da1a-xc8s_6P64yAdyy4FjLyCgafNg"
                                                                target="_blank">Standards</a></li>
                                                        <li><a class="Overview"
                                                                href=" https://drive.google.com/open?id=1mc3uQXt_VKaV8ri33_BN6h6mkgb4NEaY"
                                                                target="_blank">Overview</a></li>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
        </div>
    </div>
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
        class="fa fa-angle-up"></i></a>
<!-- end scroll to top btn -->
</div>
<!-- begin container-fluid -->