<!-- begin #page-container -->
<div id="page-container" class="page-sidebar-fixed page-header-fixed">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <div class="main">
            <app-sidebar></app-sidebar>
            <!-- begin section -->
            <section class="content">
                <div class="container carousel-container">
                    <div class="message">
                        <p class="msg-header">Resources</p>
                        <div class="product-dropdown jumbotron">
                            <div class="row product-row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="product-type">Product Type</label>
                                    <select name="product-type" id="product-type" class="form-control">
                                        <option value="">Select Product</option>
                                        <option value="">Flinn 360Scienc</option>
                                        <option value="">Flinn Prep</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <!-- <label for="category-type">Category Type</label>
                                    <select name="category-type" id="category-type" class="form-control">
                                        <option value="">Select Category</option>
                                        <option value="">Atomic Structure</option>
                                    </select> -->
                                </div>
                            </div>
                        </div>
                        <div class="message-table jumbotron">
                            <div class="resource-area">
                                <div class="resourse-img">
                                    <img src="./assets/Images/test-resource.png" alt="">
                                </div>
                                <div class="resource-menu">
                                    <div class="row resource-row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="resource-menu-area">
                                                <div class="resource-img-text">
                                                    <span class="left-img"><img src="./assets/Images/Resource-Page/How_to_Video.png" alt=""></span>
                                                    <span class="right-text">How to Videos</span>
                                                    <span class="resource-icon">
                                                        <i class="fa fa-angle-right fa-3x"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="resource-menu-area">
                                                <div class="resource-img-text">
                                                    <span class="left-img"><img src="./assets/Images/Resource-Page/Safety_Note.png" alt=""></span>
                                                    <span class="right-text">Safety Notes</span>
                                                    <span class="resource-icon">
                                                        <i class="fa fa-angle-right fa-3x"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="resource-menu-area">
                                                <div class="resource-img-text">
                                                    <span class="left-img"><img src="./assets/Images/Resource-Page/Product_FAQs.png" alt=""></span>
                                                    <span class="right-text">Products FQAs</span>
                                                    <span class="resource-icon">
                                                        <i class="fa fa-angle-right fa-3x"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="resource-menu-area">
                                                <div class="resource-img-text">
                                                    <span class="left-img"><img src="./assets/Images/Resource-Page/My_Library.png" alt=""></span>
                                                    <span class="right-text">My Library</span>
                                                    <span class="resource-icon">
                                                        <i class="fa fa-angle-right fa-3x"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="resource-menu-area">
                                                <div class="resource-img-text">
                                                    <span class="left-img"><img src="./assets/Images/Resource-Page/Safety_Contracts.png" alt=""></span>
                                                    <span class="right-text">Safety Conracts</span>
                                                    <span class="resource-icon">
                                                        <i class="fa fa-angle-right fa-3x"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
        </div>
    </div>
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
            class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- begin container-fluid -->