<nav class="nav-index">
    <div class="navbar-structure">
        <ul>
            <li [routerLink]="['/Dashboard']" [routerLinkActive]="'menu-active'">
                <a href="javascript:void(0)">
                    <div class="menu-item">
                        <img [src]="this._router.url == '/Dashboard' ? './assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Active_Icon_Dashboard.png' :'./assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Normal_Icon_Dashboard.png'"
                            alt="">
                        <div class="menu-text">Dashboard</div>
                    </div>
                </a>
            </li>
            <li [routerLink]="['/Catalog']" [routerLinkActive]="'menu-active'">
                <a href="javascript:void(0)">
                    <div class="menu-item">
                        <img [src]="this._router.url == '/Catalog' ? './assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Active_Icon_Course_Catalog.png' :'./assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Normal_Icon_Course_Catalog.png'"
                        alt="">     
                         <div class="menu-text">Course Catalog</div>
                    </div>
                </a>
            </li>    
                    <li [routerLink]="['/my-course']" [routerLinkActive]="'menu-active'">
                <a href="javascript:void(0)">
                    <div class="menu-item">
                        <img [src]="this._router.url == '/my-course' ? './assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Active_Icon_My_Course.png' :'./assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Normal_Icon_My_Course.png'"
                            alt="">
                        <div class="menu-text">My Course</div>
                    </div>
                </a>
            </li>
            <li [routerLink]="['/my-lab']" [routerLinkActive]="'menu-active'">
                <a href="javascript:void(0)">
                    <div class="menu-item">
                        <img [src]="this._router.url == '/my-lab' ? './assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Active_Icon_M_Labs.png' :'./assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Normal_Icon_M_Labs.png'"
                        alt="">
                        <div class="menu-text">My Lab</div>
                    </div>
                </a>
            </li>
            <li [routerLink]="['/my-certification']" [routerLinkActive]="'menu-active'">
                <a href="javascript:void(0)">
                    <div class="menu-item">
                        <img [src]="this._router.url == '/my-certification' ? './assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Active_Icon_My_Certifications.png' :'./assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Normal_Icon_My_Certifications.png'"
                            alt="">
                        <div class="menu-text">My Certification</div>
                    </div>
                </a>
            </li>
            <li [routerLink]="['/Classrooms']" [routerLinkActive]="'menu-active'">
                <a href="javascript:void(0)">
                    <div class="menu-item">
                        <img [src]="this._router.url == '/Classrooms' ? './assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Active_Icon_Classrooms.png' :'./assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Normal_Icon_Classrooms.png'"
                            alt="">
                        <div class="menu-text">Classrooms</div>
                    </div>
                </a>
            </li>
            <li [routerLink]="['/Reporting']" [routerLinkActive]="'menu-active'">
                <a href="javascript:void(0)">
                    <div class="menu-item">
                        <img [src]="this._router.url == '/Reporting' ? './assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Active_Icon_ Reporting.png' :'./assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Normal_Icon_ Reporting.png'"
                        alt="">
                        <div class="menu-text">Reporting</div>
                    </div>
                </a>
            </li>
            <li [routerLink]="['/Planner']" [routerLinkActive]="'menu-active'">
                <a href="javascript:void(0)">
                    <div class="menu-item">
                        <img [src]="this._router.url == '/Planner' ? './assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Active_Icon_Planner.png' :'./assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Normal_Icon_Planner.png'"
                        alt="">
                        <div class="menu-text">Planner</div>
                    </div>
                </a>
            </li>
            <li [routerLink]="['/Resources']" [routerLinkActive]="'menu-active'">
                <a href="javascript:void(0)">
                    <div class="menu-item">
                        <img [src]="this._router.url == '/Resources' ? './assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Active_Icon_Resources.png' :'./assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Normal_Icon_Resources.png'"
                            alt="">
                        <div class="menu-text">Resources</div>
                    </div>
                </a>
            </li>
            <li [routerLink]="['/Discussion']" [routerLinkActive]="'menu-active'">
                <a href="javascript:void(0)">
                    <div class="menu-item">
                        <img [src]="this._router.url == '/Discussion' ? './assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Active_Icon_Discussion.png' :'./assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Normal_Icon_Discussion.png'"
                            alt="">
                        <div class="menu-text">Discussion</div>
                    </div>
                </a>
            </li>
            <li [routerLink]="['/Message']" [routerLinkActive]="'menu-active'">
                <a href="javascript:void(0)">
                    <div class="menu-item">
                        <img [src]="this._router.url == '/Message' ? './assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Active_Icon_Messages.png' :'./assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Normal_Icon_Messages.png'"
                            alt="">
                        <div class="menu-text">Messages</div>
                    </div>
                </a>
            </li>
     
            <li [routerLink]="['/Tutorials']" [routerLinkActive]="'menu-active'">
                <a href="javascript:void(0)">
                    <div class="menu-item">
                        <img [src]="this._router.url == '/Tutorials' ? './assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Active_Icon_Tutorial.png' :'./assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Normal_Icon_Tutorial.png'"
                        alt="">
                        <div class="menu-text">Tutorials</div>
                    </div>
                </a></li>
            <li [routerLink]="['/NeedHelp']" [routerLinkActive]="'menu-active'">
                <a href="javascript:void(0)">
                    <div class="menu-item">
                        <img [src]="this._router.url == '/NeedHelp' ? './assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Active_Icon_Need_Help.png' :'./assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Normal_Icon_Need_Help.png'"
                        alt="">
                        <div class="menu-text">Need Help?</div>
                    </div>
                </a>
            </li>
            <li [routerLink]="['/Community']" [routerLinkActive]="'menu-active'">
                <a href="javascript:void(0)">
                    <div class="menu-item">
                        <img [src]="this._router.url == '/Community' ? './assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Active_Icon_Community.png' :'./assets/Images/Dashboard/Sidebar-Img/new-image/Pavo_Normal_Icon_Community.png'"
                        alt="">
                        <div class="menu-text">Community</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>