<footer class="b-footer">
    <nav class="b-footer-menu-mobile hidden-sm hidden-md hidden-lg">
        <a class="b-footer-menu-mobile__trigger " href="/customer-service--support/">
            Support <i class="fa collapsed" data-toggle="collapse"
                href="#mobileFooterMenu-27130da960384f4caed843efa104fd7a"></i>
        </a>
        <ul class="b-footer-menu-mobile__list collapse" id="mobileFooterMenu-27130da960384f4caed843efa104fd7a">
            <li class="b-footer-menu-mobile__list-item">
                <a href="/customer-service--support/order-support/" class="b-footer-menu-mobile__link">Order Support</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/customer-service--support/classroom-support/" class="b-footer-menu-mobile__link">Classroom
                    Support</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/customer-service--support/website-support/" class="b-footer-menu-mobile__link">Website
                    Support</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/customer-service--support/shipping--delivery/" class="b-footer-menu-mobile__link">Shipping and
                    Delivery</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/customer-service--support/returnsexchanges/"
                    class="b-footer-menu-mobile__link">Returns/Exchanges</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="http://nrpages.flinnsci.com/preference-center" class="b-footer-menu-mobile__link"
                    target="_blank">Update Email Preferences</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="https://nrpages.flinnsci.com/salesreps" class="b-footer-menu-mobile__link" target="_blank"
                    title="Contact Your Account Rep">Contact Your Account Rep</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/purchase-guides/" class="b-footer-menu-mobile__link" title="Flinn Purchase Guides">Flinn
                    Purchase Guides</a>
            </li>
        </ul>




        <a class="b-footer-menu-mobile__trigger " href="/about-us/">
            About Us <i class="fa collapsed" data-toggle="collapse"
                href="#mobileFooterMenu-670b1b4cced44c36847683609a262387"></i>
        </a>
        <ul class="b-footer-menu-mobile__list collapse" id="mobileFooterMenu-670b1b4cced44c36847683609a262387">
            <li class="b-footer-menu-mobile__list-item">
                <a href="/about-us/company-history/" class="b-footer-menu-mobile__link">Company History</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/about-us/contact-flinn/" class="b-footer-menu-mobile__link">Contact Flinn</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/about-us/our-guarantee/" class="b-footer-menu-mobile__link">Our Guarantee</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/about-us/privacy-policy/" class="b-footer-menu-mobile__link">Privacy Policy</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/about-us/online-security/" class="b-footer-menu-mobile__link">Online Security</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/about-us/copyright-request/" class="b-footer-menu-mobile__link">Copyright Request</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/about-us/careers-at-flinn/" class="b-footer-menu-mobile__link">Careers at Flinn</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/newsroom/newsroom/" class="b-footer-menu-mobile__link" target="_blank"
                    title="Flinn Newsroom">Flinn Newsroom</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/about-us/terms-of-service/" class="b-footer-menu-mobile__link" title="Terms of Service">Terms
                    of Service</a>
            </li>
        </ul>




        <a class="b-footer-menu-mobile__trigger " href="/flinn-freebies/">
            Flinn Freebies <i class="fa collapsed" data-toggle="collapse"
                href="#mobileFooterMenu-b0a059cc72b143e0bac66d785cf36864"></i>
        </a>
        <ul class="b-footer-menu-mobile__list collapse" id="mobileFooterMenu-b0a059cc72b143e0bac66d785cf36864">
            <li class="b-footer-menu-mobile__list-item">
                <a href="/flinn-freebies/request-a-catalog/" class="b-footer-menu-mobile__link">Catalogs</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/flinn-freebies/digital-catalogs/" class="b-footer-menu-mobile__link">Digital Catalogs</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/flinn-freebies/monthly-lab-activities/" class="b-footer-menu-mobile__link">From the Flinn Lab
                    Newsletter</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/flinn-freebies/labsafety-labcare/" class="b-footer-menu-mobile__link" target="_blank"
                    title="Higher Ed LabSafety and LabCare">Higher Ed LabSafety and LabCare</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/flinn-freebies/lab-design-guide/" class="b-footer-menu-mobile__link">Lab Design Guide</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/search-results/?type=All&amp;query=safety+notes" class="b-footer-menu-mobile__link">Safety
                    Notes</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/california/ngssca/" class="b-footer-menu-mobile__link">California NGSS*</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/flinn-freebies/molarity-and-solution-calculators/acid--base-molarity--normality-calculator/"
                    class="b-footer-menu-mobile__link">Molarity and Solution Calculators</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/disposal-methods/" class="b-footer-menu-mobile__link" target="_top"
                    title="Disposal Methods">Disposal Methods</a>
            </li>
        </ul>




        <a class="b-footer-menu-mobile__trigger " href="/online-resources/">
            Digital Resources <i class="fa collapsed" data-toggle="collapse"
                href="#mobileFooterMenu-9cc7fa7ff79941858ba85ddfc9637b56"></i>
        </a>
        <ul class="b-footer-menu-mobile__list collapse" id="mobileFooterMenu-9cc7fa7ff79941858ba85ddfc9637b56">
            <li class="b-footer-menu-mobile__list-item">
                <a href="/online-resources/online-chemventory/" class="b-footer-menu-mobile__link">Online
                    Chemventory™</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="https://www.flinnprep.com/" class="b-footer-menu-mobile__link">Flinn<i>PREP</i>™</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/online-resources/lab-safety-courses/" class="b-footer-menu-mobile__link">Lab Safety
                    Courses</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/online-resources/earn-graduate-credit/" class="b-footer-menu-mobile__link">Earn Graduate
                    Credit</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="/online-resources/udesign-science-facilities-planner/"
                    class="b-footer-menu-mobile__link">UDesign Science Facilities Planner</a>
            </li>
            <li class="b-footer-menu-mobile__list-item">
                <a href="https://www.flinnstem.com/" class="b-footer-menu-mobile__link" target="_blank"
                    title="FlinnSTEM">FlinnSTEM</a>
            </li>
        </ul>


    </nav>
    <div class="container-fluid b-container-fluid">
        <div class="row">

            <div class="hidden-xs col-sm-8 col-md-12 col-lg-10 b-footer-menu">

                <nav class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 b-footer-menu__column">

                        <h3 class="b-footer-menu__heading">
                            <a href="/customer-service--support/" class="b-footer__link">Support</a>


                        </h3>
                        <ul class="b-footer-menu__list">
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a
                                    href="/customer-service--support/order-support/" class="b-footer__link">Order
                                    Support</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a
                                    href="/customer-service--support/classroom-support/"
                                    class="b-footer__link">Classroom Support</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a
                                    href="/customer-service--support/website-support/" class="b-footer__link">Website
                                    Support</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a
                                    href="/customer-service--support/shipping--delivery/"
                                    class="b-footer__link">Shipping and Delivery</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a
                                    href="/customer-service--support/returnsexchanges/"
                                    class="b-footer__link">Returns/Exchanges</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a
                                    href="http://nrpages.flinnsci.com/preference-center" class="b-footer__link"
                                    target="_blank">Update Email Preferences</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a
                                    href="https://nrpages.flinnsci.com/salesreps" class="b-footer__link" target="_blank"
                                    title="Contact Your Account Rep">Contact Your Account Rep</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/purchase-guides/"
                                    class="b-footer__link" title="Flinn Purchase Guides">Flinn Purchase Guides</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 b-footer-menu__column">

                        <h3 class="b-footer-menu__heading">
                            <a href="/about-us/" class="b-footer__link">About Us</a>


                        </h3>
                        <ul class="b-footer-menu__list">
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/about-us/company-history/"
                                    class="b-footer__link">Company History</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/about-us/contact-flinn/"
                                    class="b-footer__link">Contact Flinn</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/about-us/our-guarantee/"
                                    class="b-footer__link">Our Guarantee</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/about-us/privacy-policy/"
                                    class="b-footer__link">Privacy Policy</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/about-us/online-security/"
                                    class="b-footer__link">Online Security</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/about-us/copyright-request/"
                                    class="b-footer__link">Copyright Request</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/about-us/careers-at-flinn/"
                                    class="b-footer__link">Careers at Flinn</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/newsroom/newsroom/"
                                    class="b-footer__link" target="_blank" title="Flinn Newsroom">Flinn Newsroom</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/about-us/terms-of-service/"
                                    class="b-footer__link" title="Terms of Service">Terms of Service</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 b-footer-menu__column">

                        <h3 class="b-footer-menu__heading">
                            <a href="/flinn-freebies/" class="b-footer__link">Flinn Freebies</a>


                        </h3>
                        <ul class="b-footer-menu__list">
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/flinn-freebies/request-a-catalog/"
                                    class="b-footer__link">Catalogs</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/flinn-freebies/digital-catalogs/"
                                    class="b-footer__link">Digital Catalogs</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a
                                    href="/flinn-freebies/monthly-lab-activities/" class="b-footer__link">From the Flinn
                                    Lab Newsletter</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/flinn-freebies/labsafety-labcare/"
                                    class="b-footer__link" target="_blank"
                                    title="Higher Ed LabSafety and LabCare">Higher Ed LabSafety and LabCare</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/flinn-freebies/lab-design-guide/"
                                    class="b-footer__link">Lab Design Guide</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a
                                    href="/search-results/?type=All&amp;query=safety+notes"
                                    class="b-footer__link">Safety Notes</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/california/ngssca/"
                                    class="b-footer__link">California NGSS*</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a
                                    href="/flinn-freebies/molarity-and-solution-calculators/acid--base-molarity--normality-calculator/"
                                    class="b-footer__link">Molarity and Solution Calculators</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/disposal-methods/"
                                    class="b-footer__link" target="_top" title="Disposal Methods">Disposal Methods</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 b-footer-menu__column">

                        <h3 class="b-footer-menu__heading">
                            <a href="/online-resources/" class="b-footer__link">Digital Resources</a>


                        </h3>
                        <ul class="b-footer-menu__list">
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/online-resources/online-chemventory/"
                                    class="b-footer__link">Online Chemventory™</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="https://www.flinnprep.com/"
                                    class="b-footer__link">Flinn<i>PREP</i>™</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="/online-resources/lab-safety-courses/"
                                    class="b-footer__link">Lab Safety Courses</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a
                                    href="/online-resources/earn-graduate-credit/" class="b-footer__link">Earn Graduate
                                    Credit</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a
                                    href="/online-resources/udesign-science-facilities-planner/"
                                    class="b-footer__link">UDesign Science Facilities Planner</a>
                            </li>
                            <li class="b-footer-menu__list-item">
                                <i class="fa fa-angle-double-right"></i> <a href="https://www.flinnstem.com/"
                                    class="b-footer__link" target="_blank" title="FlinnSTEM">FlinnSTEM</a>
                            </li>
                        </ul>

                    </div>
                </nav>

            </div>

            <div class="col-xs-12 col-sm-4 col-md-12 col-lg-2 b-footer-contacts">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-12">
                        <a href="/">
                            <img src="./assets/Images/home-images/logo-white.png"
                                alt="" class="img-responsive b-footer-contacts__logo">

                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-12">
                        <div class="b-footer-contacts__row b-footer-contacts__row_address">
                            <div class="b-footer-contacts__icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="b-footer-contacts__content">
                                <p>P.O. Box 219 Batavia, IL 60510</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-12">
                        <div class="b-footer-contacts__row b-footer-contacts__row_phone">
                            <div class="b-footer-contacts__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="b-footer-contacts__content">
                                800-452-1261
                            </div>
                        </div>
                        <div class="b-footer-contacts__row b-footer-contacts__row_fax">
                            <div class="b-footer-contacts__icon">
                                <i class="fa fa-print"></i>
                            </div>
                            <div class="b-footer-contacts__content">
                                866-452-1436
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-12">
                        <div class="b-footer-contacts__row b-footer-contacts__row_email">
                            <div class="b-footer-contacts__icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="b-footer-contacts__content">
                                <a href="mailto:flinn@flinnsci.com"
                                    class="b-footer-contacts__emailto-link">flinn@flinnsci.com</a>
                            </div>
                        </div>

                        <p class="b-footer-contacts__row b-footer-contacts__row_canadian-link">
                            <a href="https://www.flinnsci.ca/" class="b-footer-contacts__canadian-link">Visit Flinn
                                Canada<i
                                    class="icon-flag icon-flag-canada b-footer-contacts__canadian-link-icon"></i></a>
                        </p>
                    </div>

                </div>

                <div class="b-footer-social-contacts hidden-xs hidden-md hidden-lg">

                    <h4 class="b-footer-social-contacts__heading">CONNECT WITH FLINN:</h4>


                    <ul class="b-footer-social-contacts__icon-links-list">
                        <li class="b-footer-social-contacts__icon-links-list-item">
                            <a href="https://www.facebook.com/FlinnScientific" target="_Blank"
                                class="b-footer__link b-footer-social-contacts__icon-link"><i
                                    class="fa fa-facebook"></i></a>
                        </li>

                        <li class="b-footer-social-contacts__icon-links-list-item">
                            <a href="https://twitter.com/flinnscientific" target="_Blank"
                                class="b-footer__link b-footer-social-contacts__icon-link"><i
                                    class="fa fa-twitter"></i></a>
                        </li>

                        <li class="b-footer-social-contacts__icon-links-list-item">
                            <a href="https://www.youtube.com/user/FlinnScientific" target="_Blank"
                                class="b-footer__link b-footer-social-contacts__icon-link"><i
                                    class="fa fa-youtube"></i></a>
                        </li>


                        <li class="b-footer-social-contacts__icon-links-list-item">
                            <a href="https://www.pinterest.com/flinnscientific/" target="_Blank"
                                class="b-footer__link b-footer-social-contacts__icon-link"><i
                                    class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="b-footer-social-contacts hidden-xs hidden-md hidden-lg">
                    <div class="b-footer-social-contacts__sign-up">
                        <div class="col-xs-12 sign-up-form">
                            <label>Sign-up for Free Monthly Activities and Exclusive Offers</label>
                            <form action="/api/SignUp/GetSignUpForm" method="get">
                                <fieldset class="col-xs-12 col-md-8 form__fieldset">
                                    <div class="form__input">
                                        <input type="email" name="email" placeholder="Email Address">
                                    </div>
                                </fieldset>
                                <button class="button-pill green" type="submit">Sign-up</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 b-footer-social-contacts hidden-sm b-footer-social-contacts_external-row">

                <h4 class="b-footer-social-contacts__heading">CONNECT WITH FLINN:</h4>


                <ul class="b-footer-social-contacts__icon-links-list">
                    <li class="b-footer-social-contacts__icon-links-list-item">
                        <a href="https://www.facebook.com/FlinnScientific" target="_Blank"
                            class="b-footer__link b-footer-social-contacts__icon-link"><i
                                class="fa fa-facebook"></i></a>
                    </li>

                    <li class="b-footer-social-contacts__icon-links-list-item">
                        <a href="https://twitter.com/flinnscientific" target="_Blank"
                            class="b-footer__link b-footer-social-contacts__icon-link"><i class="fa fa-twitter"></i></a>
                    </li>

                    <li class="b-footer-social-contacts__icon-links-list-item">
                        <a href="https://www.youtube.com/user/FlinnScientific" target="_Blank"
                            class="b-footer__link b-footer-social-contacts__icon-link"><i class="fa fa-youtube"></i></a>
                    </li>


                    <li class="b-footer-social-contacts__icon-links-list-item">
                        <a href="https://www.pinterest.com/flinnscientific/" target="_Blank"
                            class="b-footer__link b-footer-social-contacts__icon-link"><i
                                class="fa fa-pinterest"></i></a>
                    </li>
                </ul>
                <div class="b-footer-social-contacts__sign-up">
                    <div class="col-xs-12 sign-up-form">
                        <label>Sign-up for Free Monthly Activities and Exclusive Offers</label>
                        <form action="/api/SignUp/GetSignUpForm" method="get">
                            <fieldset class="col-xs-12 col-md-8 form__fieldset">
                                <div class="form__input">
                                    <input type="email" name="email" placeholder="Email Address">
                                </div>
                            </fieldset>
                            <button class="button-pill green" type="submit">Sign-up</button>
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="b-footer__copy">
        <div class="container-fluid b-container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-7">
                    <div>
                        <ul class="b-footer__copy__list">
                            <li class="b-footer__copy__list-item">Copyright © 2019 Flinn Scientific. All Rights
                                Reserved.</li>
                        </ul>
                    </div>
                    <div class="b-footer__copy_secure">
                        <h4>SECURE SHOPPING:</h4>
                        <img src="./assets/Images/home-images/secure-shoppingr.png">
                    </div>
                </div>
                <div class="col-xs-12 col-lg-5 b-footer__copy__disclaimer">
                    <p>*Advanced Placement and AP are registered trademarks of the College Board, which was not involved
                        in the production of, and does not endorse, these products.<br><br><sup>†</sup>Next Generation
                        Science Standards and NGSS are<span>&nbsp;registered trademarks of
                            Achieve.&nbsp;</span><span>Neither Achieve nor the lead states and partners that developed
                            the Next Generation Science Standards were involved in the production of this product, and
                            do not endorse it.</span></p>
                </div>
            </div>
        </div>
    </div>
</footer>